# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
c = conn.cursor()

## Display the names of all the employees in Boston.

In [3]:
#Your code here
c.execute('''SELECT * FROM offices
                      JOIN employees
                      USING(officeCode);
                      ''')
df = pd.DataFrame(c.fetchall())
df.columns = [i[0] for i in c.description]
df.loc[df['city']=='Boston',['lastName','firstName']]

    lastName firstName
6   Firrelli     Julie
7  Patterson     Steve

## Do any offices have no employees?

0 offices have no employees.

In [4]:
#Your code here
df.loc[df['employeeNumber']=='']

Empty DataFrame
Columns: [officeCode, city, phone, addressLine1, addressLine2, state, country, postalCode, territory, employeeNumber, lastName, firstName, extension, email, reportsTo, jobTitle]
Index: []

## Write 3 Questions of your own and answer them

Which employees report to no one?

Who works at office code 3?

Who works outside of the USA?

In [5]:
# Your code here
df.loc[df['reportsTo']=='',['lastName','firstName']]

  lastName firstName
0   Murphy     Diane

In [6]:
# Your code here
df.loc[df['officeCode']=='3']

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory,employeeNumber,lastName,firstName,extension,email,reportsTo,jobTitle
8,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,1143,Sales Rep
9,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,1143,Sales Rep

In [7]:
# Your code here
df.loc[df['country']!='USA',['lastName','firstName','country']]

     lastName firstName    country
10     Bondur    Gerard     France
11     Bondur      Loui     France
12  Hernandez    Gerard     France
13   Castillo    Pamela     France
14     Gerard    Martin     France
15      Nishi      Mami      Japan
16       Kato   Yoshimi      Japan
17  Patterson   William  Australia
18     Fixter      Andy  Australia
19      Marsh     Peter  Australia
20       King       Tom  Australia
21       Bott     Larry         UK
22      Jones     Barry         UK

## Level Up: Display the names of each product each employee has sold.

In [10]:
# Your code here
c.execute('''SELECT * FROM employees e
                      JOIN customers c
                      ON c.salesRepEmployeeNumber = e.employeeNumber
                      JOIN orders
                      USING(customerNumber)
                      JOIN orderdetails
                      USING(orderNumber)
                      JOIN products
                      USING(productCode);
                      ''')
df = pd.DataFrame(c.fetchall())
df.columns = [i[0] for i in c.description]

In [44]:
#df[['productName','lastName','firstName']]
df[['productName','lastName','firstName']].loc[df['productName'].unique()]

KeyError: 'None of [[\'1958 Setra Bus\' \'1940 Ford Pickup Truck\' \'1939 Cadillac Limousine\'\n \'1996 Peterbilt 379 Stake Bed with Outrigger\' \'1968 Ford Mustang\'\n \'1968 Dodge Charger\' \'1970 Plymouth Hemi Cuda\' \'1969 Dodge Charger\'\n \'1948 Porsche 356-A Roadster\' \'1969 Dodge Super Bee\'\n \'1976 Ford Gran Torino\' \'1957 Vespa GS150\' \'1957 Corvette Convertible\'\n \'1982 Ducati 900 Monster\' \'1982 Lamborghini Diablo\'\n \'1971 Alpine Renault 1600s\' \'1956 Porsche 356A Coupe\'\n \'1961 Chevrolet Impala\' \'1982 Ducati 996 R\' \'1974 Ducati 350 Mk3 Desmo\'\n \'2002 Yamaha YZR M1\' \'2001 Ferrari Enzo\' \'1969 Corvair Monza\'\n \'1969 Ford Falcon\' \'1903 Ford Model A\' \'Collectable Wooden Train\'\n \'1970 Triumph Spitfire\' \'1904 Buick Runabout\' \'18th century schooner\'\n \'1912 Ford Model T Delivery Wagon\'\n "1950\'s Chicago Surface Lines Streetcar" \'1962 City of Detroit Streetcar\'\n \'The Schooner Bluenose\' \'The Mayflower\' \'The Titanic\' \'The Queen Mary\'\n \'Pont Yacht\' \'1937 Lincoln Berline\'\n \'1936 Mercedes-Benz 500K Special Roadster\' \'1917 Grand Touring Sedan\'\n \'1911 Ford Town Car\' \'1932 Model A Ford J-Coupe\' \'1928 Mercedes-Benz SSK\'\n \'1917 Maxwell Touring Car\' \'1932 Alfa Romeo 8C2300 Spider Sport\'\n \'1957 Ford Thunderbird\' \'1970 Chevy Chevelle SS 454\'\n \'1939 Chevrolet Deluxe Coupe\' \'1938 Cadillac V-16 Presidential Limousine\'\n \'1949 Jaguar XK 120\' \'1952 Citroen-15CV\' \'1969 Chevrolet Camaro Z28\'\n \'2002 Chevy Corvette\' \'1936 Mercedes Benz 500k Roadster\'\n \'1962 LanciaA Delta 16V\' \'1957 Chevy Pickup\' \'1964 Mercedes Tour Bus\'\n \'1926 Ford Fire Engine\' \'1992 Ferrari 360 Spider red\' \'1940s Ford truck\'\n \'1962 Volkswagen Microbus\' \'1958 Chevy Corvette Limited Edition\'\n \'1980’s GM Manhattan Express\' \'1954 Greyhound Scenicruiser\'\n \'1982 Camaro Z28\' \'1998 Chrysler Plymouth Prowler\' \'1970 Dodge Coronet\'\n \'1992 Porsche Cayenne Turbo Silver\' \'Diamond T620 Semi-Skirted Tanker\'\n \'1952 Alpine Renault 1300\' \'1913 Ford Model T Speedster\'\n \'1934 Ford V8 Coupe\' \'18th Century Vintage Horse Carriage\'\n \'1936 Chrysler Airflow\' \'1940 Ford Delivery Sedan\' \'1993 Mazda RX-7\'\n \'1995 Honda Civic\' \'1969 Harley Davidson Ultimate Chopper\'\n \'1996 Moto Guzzi 1100i\' \'2003 Harley-Davidson Eagle Drag Bike\'\n \'2002 Suzuki XREO\' \'1936 Harley Davidson El Knucklehead\'\n \'1997 BMW R 1100 S\' \'1960 BSA Gold Star DBD34\' \'P-51-D Mustang\'\n \'1928 British Royal Navy Airplane\' \'Corsair F4U ( Bird Cage)\'\n \'1900s Vintage Tri-Plane\' \'1997 BMW F650 ST\' \'1928 Ford Phaeton Deluxe\'\n \'1930 Buick Marquette Phaeton\' \'American Airlines: B767-300\'\n \'America West Airlines B757-200\' \'ATA: B757-300\' \'F/A 18 Hornet 1/72\'\n \'American Airlines: MD-11S\' \'1972 Alfa Romeo GTA\'\n \'1980s Black Hawk Helicopter\' \'1999 Yamaha Speed Boat\'\n \'1941 Chevrolet Special Deluxe Cabriolet\' \'1900s Vintage Bi-Plane\'\n \'1937 Horch 930V Limousine\' \'HMS Bounty\' \'Boeing X-32A JSF\'\n \'1965 Aston Martin DB5\' \'1999 Indy 500 Monte Carlo SS\'\n \'1966 Shelby Cobra 427 S/C\' \'1948 Porsche Type 356 Roadster\'\n \'The USS Constitution Ship\']] are in the [index]'

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!